<section class="page-section" id="about" style="padding-bottom: 100px;">
  <h1
    class="page-section-heading text-center text-uppercase mb-0 text-test"
    style="padding-top: 90px;"
  >
     About Us
  </h1>

  <div class="divider-custom">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon">
      <i class="fas fa-star"></i>
    </div>
    <div class="divider-custom-line"></div>
  </div>

  <!-- <div class="timeline">
    <div class="container-left">
      <div style="max-width: 150px;">
        <img
          src="https://images.pexels.com/photos/1115804/pexels-photo-1115804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          class="img-timeline-left"
        />
        <h3 class="pt-1 mb-2" style="margin-top: 80px;">2019</h3>
        <p class="text-muted" style="font-style: italic;">Lorem ipsum dolor sit amet consectetur...</p>
      </div>
    </div>

    <div class="container-right">
      <div style="max-width: 150px;">
        <img
          src="https://images.pexels.com/photos/1769369/pexels-photo-1769369.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          class="img-timeline-right"
        />
        <h3 class="pt-1 mb-2" style="margin-top: 80px;">2020</h3>
        <p class="text-muted" style="font-style: italic;">Lorem ipsum dolor sit amet consectetur...</p>
      </div>
    </div>
  </div> -->
  <div class="row pt-4">
    <div class="col-lg-4 ml-auto"><p class="lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p></div>
    <div class="col-lg-4 mr-auto"><p class="lead">You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!</p></div>
</div>
</section>
