<section class="page-section" id="about" style="padding-bottom: 100px;">
  <h1
    class="page-section-heading text-center text-uppercase mb-0 text-test"
    style="padding-top: 90px;"
  >
    About Us
  </h1>

  <div class="divider-custom">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon">
      <i class="fas fa-star"></i>
    </div>
    <div class="divider-custom-line"></div>
  </div>

  <div class="row pt-4">
    <div class="col-lg-4 ml-auto">
      <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum natus
        debitis ad nostrum eum dolore velit nesciunt nisi laboriosam recusandae
        eaque expedita fuga saepe, odit pariatur vel adipisci ab asperiores..
      </p>
    </div>
    <div class="col-lg-4 mr-auto">
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit fugit
        sint debitis, inventore, voluptates quam hic ducimus ut autem iusto
        saepe quas, excepturi aliquid. Pariatur vel iste ipsum maxime facere.
      </p>
    </div>
  </div>
</section>
