<section class="estimation-resume-setup">
  <div class="card text-center">
    <div class="card-header bg-dark text-white">
      Which kind of App is needed?
    </div>
    <div class="card-body">
      <div class="row" style="justify-content: center;">
        <app-box-resume *ngFor="let a of appsData" [data]="a"></app-box-resume>
      </div>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-header bg-primary text-white">
      Tell Us the job
    </div>
    <div class="card-body">
      <div class="row" style="justify-content: center;">
        <app-box-resume *ngFor="let a of funcsData" [data]="a"></app-box-resume>
      </div>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-header bg-warning text-white">
      Which support package you choose
    </div>
    <div class="card-body">
      <div class="row" style="justify-content: center;">
        <app-box-resume [data]="suppData"></app-box-resume>
      </div>
    </div>
  </div>
</section>
