
<div class="col">
<div class="card middle">
  <div class="front">
    <img src="https://the-mentalist-episodi.myblog.it/media/01/00/1392254972.jpg" alt="">
  </div>
  <div class="back">
    <div class="back-content middle">
      <h3>{{ member.name }}</h3>
      <span>{{ member.role }}</span>
      <div class="sm">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</div>
</div>