<section *ngIf="items && items.length > 0" id="services" class="page-section text-center">
  <h1
    class="page-section-heading text-center text-uppercase mb-0 text-test"
    style="padding-top: 90px;"
  >
     Services
  </h1>

  <div class="divider-custom">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon">
      <i class="fas fa-star"></i>
    </div>
    <div class="divider-custom-line"></div>
  </div>

  <div class="container">
    <div class="row mb-3 pt-4 d-flex justify-content-center">
      <app-services-item
      *ngFor="let item of items"
      [item]="item"
      ></app-services-item>
    </div>
  </div>
</section>

