<section>
  <div class="mb-4" style="width: 500px; margin: 0 auto;">
    <div class="card-body">
      <h5 class="text-center mt-4 secondary-font">
        Usually the cost can change only of 20% from the value below.
      </h5>
    </div>
  </div>
  <div>
    <div class="row" style="justify-content: center; margin-bottom: 50px;">
      <div
        class="card card-border"
        style="width: 200px; height: 150px; justify-content: center;"
      >
        <h5 class="card-title secondary-font" style="align-self: center;">
          Cost: <span class="primary-font"> € {{ data.cost }} </span>
        </h5>
      </div>
    </div>
  </div>
</section>
