<div class="col" style="width: 350px;">
  <div class="pricing-table">
    <div class="pricing-card">
      <h3 class="pricing-card-header">Project</h3>
      <div style="margin: 25px;">
        <img
          src="https://wallpapercave.com/wp/wp3987217.jpg"
          class="img-portfolio"
        />
      </div>
      <ul style="list-style-type: none; display: contents;">
        <li>
          <strong>{{ item.name }}</strong>
        </li>
        <li style="height: 100px; margin-left: 10px; margin-right: 10px;">
          {{ item.description }}
        </li>
      </ul>
      <a href="#" class="order-btn" style="text-decoration: none;">Show more</a>
    </div>
  </div>
</div>
