<div class="col" style="width: 350px;">
  <!-- <div class="portfolio-item item-bg poup-up-item">
    <a href="/">
      <div class="portfolio-hover" >
        <div class="portfolio-hover-content" style="background-color: #FFC600" >
          <i class="fas fa-plus p-3" style="font-size: 60px; border-radius: 50%; text-align: center;"></i>
        </div>
      </div>
      <img
        src="https://wallpapercave.com/wp/wp3987217.jpg"
        class="img-portfolio"
      />
    </a>
    <div class="pt-1 pb-4 mb-5 bg-white">
      <div class="mt-3">
        <h4>{{ item.name }}</h4>
        <p class="text-muted">{{ item.description }}</p>
      </div>
    </div>
  </div> -->

  <div class="pricing-table">
    <div
      class="pricing-card"
      style="box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75); border-radius: 10px;"
    >
      <h3 class="pricing-card-header">Project</h3>
      <div style="margin: 25px;">
        <img
          src="https://wallpapercave.com/wp/wp3987217.jpg"
          class="img-portfolio"
        />
      </div>
      <ul style="list-style-type: none; display: contents;">
        <li>
          <strong>{{ item.name }}</strong>
        </li>
        <li style="height: 100px; margin-left: 10px; margin-right: 10px;">
          {{ item.description }}
        </li>
      </ul>
      <a href="#" class="order-btn" style="text-decoration: none;">Show more</a>
    </div>
  </div>
</div>
