<app-navbar></app-navbar>
<section>
  <div class="bg-home page-section">
    <div class="home-text">
      <div class="sub-text-home">Welcome To Our Studio!</div>
      <div class="main-text-home">WORKING IN PROGRESS</div>
      <a class="btn-solid-lg mt-4" href="#estimate">ESTIMATE NOW</a>
    </div>

    <a class="gotopbtn" href="#"> <i class="fas fa-arrow-up"></i></a>
  </div>
</section>
<app-services></app-services>
<app-portfolio></app-portfolio>
<app-about></app-about>
<app-team></app-team>
<app-estimate></app-estimate>
<app-contact-us></app-contact-us>
<app-footer></app-footer>

<!-- [style.background]="'url(./assets/_untitledimage.png)'" -->
